# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py,cover

# Virtual environment
.venv/
venv/
env/

# Temporary files (importante!)
temp_images/

# Log files
*.log

# IDE files
.vscode/
.idea/
