# all of these are needed for functionality of application, 
# via setup.sh able to auto install requirements.txt

# Core Dependencies
beautifulsoup4==4.12.3      # modern HTML parsing
customtkinter==5.2.2        # modern GUI toolkit
Pillow==11.1.0              # Image processing
requests==2.32.3            # HTTP requests
selenium==4.21.0            # Browser automation
webdriver-manager==4.0.0    # Automatic driver management
# pyobjc==11.0                # macOS specific only , need to update setup to only download if os = mac

# Additional Utilities
python-dotenv==1.0.1        # Environment variables (optional)
urllib3==1.26.20              # URL handling (requests dependency)